= form_with model: @book, local: true, class: "toppage" do |f|
  .toppage__form
    .toppage__form__content
      %label.toppage__form__content__form-group--label{for: "title"} 本のタイトル
      %span.toppage__form__content__require 必須
      = f.text_field(:title, class: "toppage__form__content__input-default", placeholder: "本のタイトルを入力してください")
    .toppage__form__content__form-group
      %label.toppage__form__content__form-group--label{for: "author"} 著者名
      %span.toppage__form__content__require 必須
      = f.text_field(:author, class: "toppage__form__content__input-default", placeholder: "著者名を入力してください")
    .toppage__form__content__form-field
      = f.submit class: 'toppage__form__content__form-field__field-btn', value:'投稿する'