.top__menubar
  .top__menubar__header
    .top__menubar__header__title
      BOOKMEMO
    .top__menubar__header__menu
      .top__menubar__header__menu__content
        = link_to "投稿する", new_book_path, class: "top__menubar__header__menu__content__text"
      .top__menubar__header__menu__content1
        マイページ
      .top__menubar__header__menu__content2
        = link_to "ログアウト", destroy_user_session_path, class: "top__menubar__header__menu__content2__text", method: :delete
        