.menubar
  .menubar__header
    .menubar__header__title
      BOOKMEMO
    .menubar__header__menu
      .menubar__header__menu__content
        マイページ
      .menubar__header__menu__content1
        ログアウト
      
  