.book-edit {
  font-size: 50px;
  text-align: center;
  background: -moz-linear-gradient(top left, #FFF, #FFC778); 
  background: -webkit-linear-gradient(top left, #FFF, #FFC778); 
  background: linear-gradient(to bottom right, #FFF, #FFC778); 
}