.toppage {
  height: 600px;
  width: 100%;
  background-image: url("upload.jpg");
  background-size: cover;
  &__form {
    width: 80%;
    height: 500px;
    margin: auto;
    padding-top: 150px;
    &__text {
      font-size: 50px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &__content {
      height: 50px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
      padding-top: 20px;
      &__form-label {
        font-size: 30px;
      }
      &__require {
        font-size: 30px;
      }
      &__input-default {
        font-size: 30px;
        width: 450px;
      }
    }
    &__content1 {
      height: 50px;
      text-align: center;
      font-weight: bold;
      padding-left: 90px;
      margin-bottom: 40px;
      padding-top: 20px;
      &__form-label {
        font-size: 30px;
      }
      &__require {
        font-size: 30px;
      }
      &__input-default {
        font-size: 30px;
        width: 450px;
      }
    }
    &__submit {
      height:50px;
      text-align: center;
      &__field-btn {
        font-size: 30px;
        background-color: gold;
        border-radius: 5px;
        border-bottom: solid 5px goldenrod;
        box-shadow: 8px 8px 8px gray;
        transition: 0.3s;
      }
    }
  }
}