.top {
  height: 100%;
  margin: 0 auto;
  position: fixed;
  &__contents {
   height: 85%;
   background-image: url("upload.jpg");
   background-size: cover;
   background-color: #FFF5EE;
   overflow: scroll;
  }
  &__footer {
    height: 100px;
    background-color: #B0941E;
  }
}
