.top__menubar {
  width: 100vw;
  height: 100px;
  background-color: #B0941E;
  font-family: 'Apple Chancery';
  &__header {
    width: 90%;
    height: 70px;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    &__title {
      width: 25%;
      height: 60px;
      font-size: 50px;
      color: #7d4a31;
    }
    &__menu {
      width: 70%;
      margin-left: 100px;
      display: flex;
      height: 60px;
      padding: 15px 20px 20px 20px;
      &__content {
        width: 130px;
        font-size: 30px;
        margin-right: 40px;
        height: 40px;
        border: 3px solid black;
        border-radius: 5px;
        color: #180027;
        &__text {
          color: #180027;
          text-decoration: none;
        }
      }
      &__content:hover {
        background-color: #FAEBD7;
      }
      &__content1 {
        width: 150px;
        font-size: 30px;
        margin-right: 40px;
        height: 40px;
        border: 3px solid black;
        border-radius: 5px;
        color: #180027;
      }
      &__content1:hover {
        background-color: #FAEBD7;
      }
      &__content2 {
        width: 150px;
        height: 40px;
        font-size: 30px;
        border: 3px solid black;
        border-radius: 5px;
        color: #180027;
        &__text {
          text-decoration: none;
          color: #180027;
        }
      }
      &__content2:hover {
        background-color: #FAEBD7;
      }
      &__content3 {
        width: 150px;
        height: 40px;
        font-size: 30px;
        border: 3px solid black;
        border-radius: 5px;
        color: #180027;
        text-align: center;
        &__text {
          text-decoration: none;
          color: #180027;
          font-weight: bold;
        }
      }
      &__content3:hover {
        background-color: #FAEBD7;
      }
      &__content4 {
        width: 150px;
        height: 40px;
        font-size: 30px;
        border: 3px solid black;
        border-radius: 5px;
        color: #180027;
        text-align: center;
        font-weight: bold;
        margin-left: 50px;
        &__text {
          text-decoration: none;
          color: #180027;
        }
      }
      &__content4:hover {
        background-color: #FAEBD7;
      }
    }
  }
}
  

