.new-page__header {
  background-color: #B0941E;
  font-family: 'Apple Chancery';
  width: 100%;
  height: 100px;
  &__title {
    text-align: center;
    height: 60px;
    font-size: 50px;
    color: #7d4a31;
    margin: 0 auto;
    padding-top: 15px;
    }
  }
