.top__contents__book {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  &__box {
    height: 20%;
    background-color: #faebd7;
    border-radius: 5px;
    padding: 10px;
    word-wrap: break-word;
    &__list {
      float: right;
      width: 110px;
      height: 30px;
      padding: 10px;
      text-align: left;
      &__icon {
        height: 30px;
        width: 30px;
        font-size: 30px;
        margin-left: 3px;
        text-decoration: none;
        color: blue;
      }
      a {
        text-decoration: none;
      }
      ::before {
        bottom: 0;
      }
      &__icon1 {
        font-size: 30px;
        margin-left: 3px;
        text-decoration: none;
        color: blue;
      }
      a {
        text-decoration: none;
      }
      &__icon2 {
        font-size: 30px;
        margin-left: 3px;
        text-decoration: none;
        color: blue;
      }
      a {
        text-decoration: none;
      }
    }
    &__text {
      font-size: 20px;
      font-weight: bold;
    }
    &__text1 {
      font-size: 20px;
    }
    &__text2 {
      font-size: 20px;
    }
    &__text3 {
      font-size: 20px;
    }
    &__text4 {
      font-size: 20px;
    }
    &__text5 {
      font-size: 20px;
      font-weight: bold;
    }
    &__text6 {
      font-size: 20px;
    }
  }
}